@Styles.Render("~/Content/PTableStyle.css")
<section id="periodic_table">
    <div>
        <div id="TopElements">
            <div id="Nonmetal">H</div>
            <div id="Alkali_Metal">Li</div>
            <div id="Alkali_Metal">Na</div>
            <div id="Alkali_Metal">K</div>
            <div id="Alkali_Metal">Rb</div>
            <div id="Alkali_Metal">Cs</div>
            <div id="Alkali_Metal">Fr</div>
        </div>
        <div>
            <div id="Alkaline_Earth">Be</div>
            <div id="Alkaline_Earth">Mg</div>
            <div id="Alkaline_Earth">Ca</div>
            <div id="Alkaline_Earth">Sr</div>
            <div id="Alkaline_Earth">Ba</div>
            <div id="Alkaline_Earth">Ra</div>
        </div>
        <div>
            <div id="Transition_Metal">Sc</div>
            <div id="Transition_Metal">Y</div>
            <div id="Lanthanide">57-71</div>
            <div id="Actinide">89-103</div>
        </div>
        <div>
            <div id="Transition_Metal">Ti</div>
            <div id="Transition_Metal">Zr</div>
            <div id="Transition_Metal">Hf</div>
            <div id="Transition_Metal">Rf</div>
        </div>
        <div>
            <div id="Transition_Metal">V</div>
            <div id="Transition_Metal">Nb</div>
            <div id="Transition_Metal">Ta</div>
            <div id="Transition_Metal">Db</div>
        </div>
        <div>
            <div id="Transition_Metal">Cr</div>
            <div id="Transition_Metal">Mo</div>
            <div id="Transition_Metal">W</div>
            <div id="Transition_Metal">Sg</div>
        </div>
        <div>
            <div id="Transition_Metal">Mn</div>
            <div id="Transition_Metal">Tc</div>
            <div id="Transition_Metal">Re</div>
            <div id="Transition_Metal">Bh</div>
        </div>
        <div>
            <div id="Transition_Metal">Fe</div>
            <div id="Transition_Metal">Ru</div>
            <div id="Transition_Metal">Os</div>
            <div id="Transition_Metal">Hs</div>
        </div>
        <div>
            <div id="Transition_Metal">Co</div>
            <div id="Transition_Metal">Rh</div>
            <div id="Transition_Metal">Ir</div>
            <div id="Transition_Metal">Mt</div>
        </div>
        <div>
            <div id="Transition_Metal">Ni</div>
            <div id="Transition_Metal">Pd</div>
            <div id="Transition_Metal">Pt</div>
            <div id="Transition_Metal">Ds</div>
        </div>
        <div>
            <div id="Transition_Metal">Cu</div>
            <div id="Transition_Metal">Ag</div>
            <div id="Transition_Metal">Au</div>
            <div id="Transition_Metal">Rg</div>
        </div>
        <div>
            <div id="Transition_Metal">Zn</div>
            <div id="Transition_Metal">Cd</div>
            <div id="Transition_Metal">Hg</div>
            <div id="Transition_Metal">Cn</div>
        </div>
        <div>
            <div id="Semimetal">B</div>
            <div id="Basic_Metal">Al</div>
            <div id="Basic_Metal">Ga</div>
            <div id="Basic_Metal">In</div>
            <div id="Basic_Metal">Ti</div>
            <div id="Basic_Metal">Uut</div>
        </div>
        <div>
            <div id="Nonmetal">C</div>
            <div id="Semimetal">Si</div>
            <div id="Semimetal">Ge</div>
            <div id="Basic_Metal">Sn</div>
            <div id="Basic_Metal">Pb</div>
            <div id="Basic_Metal">Fl</div>
        </div>
        <div>
            <div id="Nonmetal">N</div>
            <div id="Nonmetal">P</div>
            <div id="Semimetal">As</div>
            <div id="Semimetal">Sb</div>
            <div id="Basic_Metal">Bi</div>
            <div id="Basic_Metal">Uup</div>
        </div>
        <div>
            <div id="Nonmetal">O</div>
            <div id="Nonmetal">S</div>
            <div id="Nonmetal">Se</div>
            <div id="Semimetal">Te</div>
            <div id="Semimetal">Po</div>
            <div id="Basic_Metal">Lv</div>
        </div>
        <div>
            <div id="Halogen">F</div>
            <div id="Halogen">Cl</div>
            <div id="Halogen">Br</div>
            <div id="Halogen">I</div>
            <div id="Halogen">At</div>
            <div id="Halogen">Uus</div>
        </div>
        <div>
            <div id="Nobel_Gas">He</div>
            <div id="Nobel_Gas">Ne</div>
            <div id="Nobel_Gas">Ar</div>
            <div id="Nobel_Gas">Kr</div>
            <div id="Nobel_Gas">Xe</div>
            <div id="Nobel_Gas">Rn</div>
            <div id="Nobel_Gas">Uuo</div>
        </div>
    </div>
    <div id="LaAc">
        <div>
            <div id="Lanthanide">La</div>
            <div id="Actinide"  >Ac</div>
        </div>
        <div>
            <div id="Lanthanide">Ce</div>
            <div id="Actinide"  >Th</div>
        </div>
        <div>
            <div id="Lanthanide">Pr</div>
            <div id="Actinide"  >Pa</div>
        </div>
        <div>
            <div id="Lanthanide">Nd</div>
            <div id="Actinide"  >U</div>
        </div>
        <div>
            <div id="Lanthanide">Pm</div>
            <div id="Actinide"  >Np</div>
        </div>
        <div>
            <div id="Lanthanide">Sm</div>
            <div id="Actinide"  >Pu</div>
        </div>
        <div>
            <div id="Lanthanide">Eu</div>
            <div id="Actinide"  >Am</div>
        </div>
        <div>
            <div id="Lanthanide">Gd</div>
            <div id="Actinide"  >Cm</div>
        </div>
        <div>
            <div id="Lanthanide">Tb</div>
            <div id="Actinide"  >Bk</div>
        </div>
        <div>
            <div id="Lanthanide">Dy</div>
            <div id="Actinide"  >Cf</div>
        </div>
        <div>
            <div id="Lanthanide">Ho</div>
            <div id="Actinide"  >Es</div>
        </div>
        <div>
            <div id="Lanthanide">Er</div>
            <div id="Actinide"  >Fm</div>
        </div>
        <div>
            <div id="Lanthanide">Tm</div>
            <div id="Actinide"  >Md</div>
        </div>
        <div>
            <div id="Lanthanide">Yb</div>
            <div id="Actinide"  >No</div>
        </div>
        <div>
            <div id="Lanthanide">La</div>
            <div id="Actinide"  >Ac</div>
        </div>
    </div>
</section>
