
@{
    ViewBag.Title = "Elements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dragging</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>*@

<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dragging</title>


    <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js"></script>


    <script type="text/javascript">



//Checking for browser compatibility is accomplished with the Modernizr JavaScript library.
//The latest version of the library is available at www.modernizr.com.

//The code below establishes a way to send debug messages to the browser JavaScript Console,
//but in such a way as to ignore errors when the browser doesn't support the JavaScript Console.
//To log a messages to the console within this code, insert into the code:
//Debugger.log("my message");
window.addEventListener("load", windowLoadHandler, false);
var Debugger = function() { };
Debugger.log = function(message) {
	try {
		console.log(message);
	}
	catch (exception) {
		return;
	}
}

function windowLoadHandler() {
	canvasApp();
}

function canvasSupport() {
	return Modernizr.canvas;
}

function canvasApp() {
    if (!canvasSupport()) {
        return;
    }

    var theCanvas = document.getElementById("canvasOne");
    var theCanvas2 = document.getElementById("canvasTwo");
    var context = theCanvas.getContext("2d");
    var context2 = theCanvas2.getContext("2d");

    init();

    var numShapes;
    var shapes;
    var shapes2;
    var origXs;
    var origYs;
    var positionsX;
    var positionsY;
    var dragIndex;
    var dragging;
    var mouseX;
    var mouseY;
    var dragHoldX;
    var dragHoldY;
    var elementWidth;
    var elementPlace;

    function init() {
        elementWidth = canvasOne.width / 18;
        elementPlace = canvasOne.width / 36;
        origXs = [];
        origYs = [];
        positionsX = [];
        positionsY = [];
      
        positionsX.push(50);
        positionsY.push(250);
        positionsX.push(100);
        positionsY.push(300);
        positionsX.push(150);
        positionsY.push(350);
        shapes = [];
        shapes2 = [];

        origXs.push(0);
        origYs.push(0);
        origXs.push(elementWidth * 17);
        origYs.push(0);

        origXs.push(0);
        origYs.push(elementWidth);
        origXs.push(elementWidth);
        origYs.push(elementWidth);
        origXs.push(elementWidth * 12);
        origYs.push(elementWidth);
        origXs.push(elementWidth * 13);
        origYs.push(elementWidth);
        origXs.push(elementWidth * 14);
        origYs.push(elementWidth);
        origXs.push(elementWidth * 15);
        origYs.push(elementWidth);
        origXs.push(elementWidth * 16);
        origYs.push(elementWidth);
        origXs.push(elementWidth * 17);
        origYs.push(elementWidth);

        origXs.push(0);
        origYs.push(elementWidth * 2);
        origXs.push(elementWidth);
        origYs.push(elementWidth * 2);
        origXs.push(elementWidth * 12);
        origYs.push(elementWidth * 2);
        origXs.push(elementWidth * 13);
        origYs.push(elementWidth * 2);
        origXs.push(elementWidth * 14);
        origYs.push(elementWidth * 2);
        origXs.push(elementWidth * 15);
        origYs.push(elementWidth * 2);
        origXs.push(elementWidth * 16);
        origYs.push(elementWidth * 2);
        origXs.push(elementWidth * 17);
        origYs.push(elementWidth * 2);

        origXs.push(0);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth * 2);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth * 3);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth * 4);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth * 5);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth * 6);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth * 7);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth * 8);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth * 9);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth * 10);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth * 11);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth * 12);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth * 13);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth * 14);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth * 15);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth * 16);
        origYs.push(elementWidth * 3);
        origXs.push(elementWidth * 17);
        origYs.push(elementWidth * 3);

        origXs.push(0);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth * 2);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth * 3);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth * 4);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth * 5);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth * 6);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth * 7);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth * 8);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth * 9);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth * 10);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth * 11);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth * 12);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth * 13);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth * 14);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth * 15);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth * 16);
        origYs.push(elementWidth * 4);
        origXs.push(elementWidth * 17);
        origYs.push(elementWidth * 4);

        origXs.push(0);
        origYs.push(elementWidth*6);
        origXs.push(elementWidth);
        origYs.push(elementWidth * 6);
        origXs.push(elementWidth * 2);
        origYs.push(elementWidth * 6);
        origXs.push(elementWidth * 3);
        origYs.push(elementWidth * 6);
        origXs.push(elementWidth * 4);
        origYs.push(elementWidth * 6);
        origXs.push(elementWidth * 5);
        origYs.push(elementWidth * 6);
        origXs.push(elementWidth * 6);
        origYs.push(elementWidth * 6);
        origXs.push(elementWidth * 7);
        origYs.push(elementWidth * 6);
        origXs.push(elementWidth * 8);
        origYs.push(elementWidth * 6);
        origXs.push(elementWidth * 9);
        origYs.push(elementWidth * 6);
        origXs.push(elementWidth * 10);
        origYs.push(elementWidth * 6);
        origXs.push(elementWidth * 11);
        origYs.push(elementWidth * 6);
        origXs.push(elementWidth * 12);
        origYs.push(elementWidth * 6);
        origXs.push(elementWidth * 13);
        origYs.push(elementWidth * 6);
        origXs.push(elementWidth * 14);
        origYs.push(elementWidth * 6);
        origXs.push(elementWidth * 15);
        origYs.push(elementWidth * 6);
        origXs.push(elementWidth * 16);
        origYs.push(elementWidth * 6);
        origXs.push(elementWidth * 17);
        origYs.push(elementWidth * 6);

        origXs.push(0);
        origYs.push(elementWidth * 5); 
        origXs.push(elementWidth);
        origYs.push(elementWidth * 5);
        origXs.push(elementWidth * 2);
        origYs.push(elementWidth * 5);
        origXs.push(elementWidth * 3);
        origYs.push(elementWidth * 5);
        origXs.push(elementWidth * 4);
        origYs.push(elementWidth * 5);
        origXs.push(elementWidth * 5);
        origYs.push(elementWidth * 5);
        origXs.push(elementWidth * 6);
        origYs.push(elementWidth * 5);
        origXs.push(elementWidth * 7);
        origYs.push(elementWidth * 5);
        origXs.push(elementWidth * 8);
        origYs.push(elementWidth * 5);
        origXs.push(elementWidth * 9);
        origYs.push(elementWidth * 5); 
        origXs.push(elementWidth * 10);
        origYs.push(elementWidth * 5);
        origXs.push(elementWidth * 11);
        origYs.push(elementWidth * 5);
        origXs.push(elementWidth * 12);
        origYs.push(elementWidth * 5);
        origXs.push(elementWidth * 13);
        origYs.push(elementWidth * 5);
        origXs.push(elementWidth * 14);
        origYs.push(elementWidth * 5);
        origXs.push(elementWidth * 15);
        origYs.push(elementWidth * 5);
        origXs.push(elementWidth * 16);
        origYs.push(elementWidth * 5);
        origXs.push(elementWidth * 17);
        origYs.push(elementWidth * 5);

        makeShapes();
        drawScreen();
        theCanvas.addEventListener("mousedown", mouseDownListener, false);
      
    }
    var alkali = [3, 11, 19, 37, 55, 87];
    var alkaline = [4, 12, 20, 38, 56, 88];
    var transition = [21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
        72, 73, 74, 75, 76, 77, 78, 79, 80, 104, 105, 106, 107, 108, 109, 110, 111, 112
    ]
    var basic = [13, 31, 49, 50, 81, 82, 83, 113, 114, 115, 116];
    var metalloid = [5, 14, 32, 33, 51, 52];
    var nonmetal = [1, 6, 7, 8, 15, 16, 34];
    var halogen = [9, 17, 35, 53, 85, 117];
    var nobelGas = [2, 10, 18, 36, 54, 86, 118];
    var lanthanide = [57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71];
    var lanthanide = [89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103];
    function makeShapes() {
        var i;
        var tempX;
        var tempY;
        var tempRad;
        var tempR;
        var tempG;
        var tempB;
        var tempColor;
        for (i = 0; i < origXs.length; i++) {
            tempX = origXs[i];
            tempY = origYs[i];

            if (containing(nonmetal, i)) {
                tempColor = "rgb(" + 0 + "," + 255 + "," + 255 + ")";
            } else {
                tempColor = "rgb(" + 255 + "," + 0 + "," + 0 + ")";
            }
            
            
            tempShape = { x: tempX, y: tempY, size: elementWidth, color: tempColor };
            shapes.push(tempShape);
        }
    }
    function containing(arr, num) {
        for (j = 0; j < arr.length; i++){
            if (arr[j] == num) {
                return true;
            }
        }
        return false;
    }
    function mouseDownListener(evt) {

        var i;
        //We are going to pay attention to the layering order of the objects so that if a mouse down occurs over more than object,
        //only the topmost one will be dragged.
        var highestIndex = -1;

        //getting mouse position correctly, being mindful of resizing that may have occured in the browser:
        var bRect = theCanvas.getBoundingClientRect();
        mouseX = (evt.clientX - bRect.left) * (theCanvas.width / bRect.width);
        mouseY = (evt.clientY - bRect.top) * (theCanvas.height / bRect.height);
       


        //find which shape was clicked
        for (i = 0; i < shapes.length; i++) {
            if (hitTest(shapes[i], mouseX, mouseY)) {
                dragging = true;
          

       
                if (i > highestIndex) {
                    //We will pay attention to the point on the object where the mouse is "holding" the object:
                    dragHoldX = mouseX - shapes[i].x;
                    dragHoldY = mouseY - shapes[i].y;
                    highestIndex = i;
                    dragIndex = i;
                  
                }
            }
        }

        if (dragging) {
          
               
            window.addEventListener("mousemove", mouseMoveListener, false);
        }

        theCanvas.removeEventListener("mousedown", mouseDownListener, false);
       
        window.addEventListener("mouseup", mouseUpListener, false);

        //code below prevents the mouse down from having an effect on the main browser window:
        if (evt.preventDefault) {
            evt.preventDefault();
        } //standard
        else if (evt.returnValue) {
            evt.returnValue = false;
        } //older IE
        return false;
    }

    function mouseUpListener(evt) {
       
        theCanvas.addEventListener("mousedown", mouseDownListener, false);
        window.removeEventListener("mouseup", mouseUpListener, false);
    
        if (dragging) {

            dragging = false;
            for (i = 0; i < shapes.length; i++) {
                shapes[i].x = origXs[i];
                shapes[i].y = origYs[i];
               
                
            }
            for (i = 0; i < shapes.length; i++) {
                if (shapes[i].y > theCanvas.height) {
                    var tempX = positionsX[i];
                    var tempY = positionsY[i];
                    var tempRad = shapes[i].size;
                    var tempColor = shapes[i].color;
                    var tempShape2 = { x: tempX, y: tempY, size: tempRad, color: tempColor };
                    shapes2.push(tempShape2);

                }
            }
            for (i = 0; i < shapes2.length; i++) {
            
                shapes2[i].x = positionsX[i];
                shapes2[i].y = positionsY[i];

            }
           
            drawScreen();
        
            window.removeEventListener("mousemove", mouseMoveListener, false);
           
        }
      
       
    }

    function mouseMoveListener(evt) {
        for (i = 0; i < shapes.length; i++) {
            if (shapes[i].y > theCanvas.height) {
                var tempX = positionsX[i];
                var tempY = positionsY[i];
                var tempRad = shapes[i].size;
                var tempColor = shapes[i].color;
                var tempShape2 = { x: tempX, y: tempY, size: tempRad, color: tempColor };
                shapes2.push(tempShape2);
               
            }

        }
        var posX;
        var posY;
        var shapeRad = shapes[dragIndex].rad;
        var minX = shapeRad;
        var maxX = theCanvas.width - shapeRad;
        var minY = shapeRad;
        var maxY = theCanvas.height * 2 - shapeRad;
        //getting mouse position correctly
        var bRect = theCanvas.getBoundingClientRect();
        mouseX = (evt.clientX - bRect.left) * (theCanvas.width / bRect.width);
        mouseY = (evt.clientY - bRect.top) * (theCanvas.height / bRect.height);

        //clamp x and y positions to prevent object from dragging outside of canvas
        posX = mouseX - dragHoldX;
        //posX = (posX < minX) ? minX : ((posX > maxX) ? maxX : posX);
        posY = mouseY - dragHoldY;
        //	posY = (posY < minY) ? minY : ((posY > maxY) ? maxY : posY);

        shapes[dragIndex].x = posX;
        shapes[dragIndex].y = posY;
        drawScreen();

      
    }

    function hitTest(shape, mx, my) {

        var dx;
        var dy;
        dx = mx - shape.x - 10;
        dy = my - shape.y;

        //a "hit" will be registered if the distance away from the center is less than the radius of the circular object
        return (dx * dx + dy * dy < shape.size * shape.size);
    }

    function drawShapes() {
        var i;
        for (i = 0; i < shapes.length; i++) {
            context.fillStyle = shapes[i].color;
            context.beginPath();
            context.rect(shapes[i].x, shapes[i].y, shapes[i].size, shapes[i].size);
            context.closePath();
            context.fill();
            //context.fillStyle = white;
            context.font = "30px Arial";
            context.strokeText("H", shapes[i].x, shapes[i].y + elementWidth);
        }
    }
    function drawShapesTwo() {
        var i;
        for (i = 0; i < shapes2.length; i++) {
            //context2.fillStyle = shapes2[i].color;
            //context2.beginPath();
            //context2.arc(shapes2[i].x, shapes2[i].y - theCanvas2.height / 2, shapes2[i].rad, 0, 2 * Math.PI, false);
            //context2.closePath();
            //context2.fill();
            context2.fillStyle = shapes2[i].color;
            context2.beginPath();
            context2.rect(shapes2[i].x, shapes2[i].y - theCanvas2.height / 2, shapes[i].size, shapes[i].size);
            context2.closePath();
            context2.fill();
            context2.font = "30px Arial";
            context2.strokeText("H", shapes2[i].x, shapes2[i].y - theCanvas2.height / 2 + elementWidth);
      
        }
    }

    function drawScreen() {
        //bg
        context.fillStyle = "#000000";
        context.fillRect(0, 0, theCanvas.width, theCanvas.height);
        context2.fillStyle = "#000000";
        context2.fillRect(0, 0, theCanvas2.width, theCanvas2.height);

        drawShapes();
        drawShapesTwo();
    }
}

        
        

    </script>

</head>

<body>
    <div style="top: 50px; text-align:center">
        <canvas id="canvasOne" height="300" width="500">
            This text is displayed if your browser does not support HTML5 Canvas.
        </canvas>

    </div>
    <div style="bottom: 50px; text-align:center">
        <canvas id="canvasTwo" height="300" width="500">
            This text is displayed if your browser does not support HTML5 Canvas.
        </canvas>

    </div>


</body>
</html>

<meta charset="UTF-8">

<style type="text/css">
    h4 {
        font-family: sans-serif;
    }

    p {
        font-family: sans-serif;
    }

    a {
        font-family: sans-serif;
        color: #d15423;
        text-decoration: none;
    }
</style>