
@{
    ViewBag.Title = "Elements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/CheatSheet.css" />

<h2>Elements</h2>
<div>
    <table id="t01">
        <thead>
            <th>Atomic Number</th>
            <th>Element Name</th>
            <th>Element Abbreviation</th>
            <th>Atomic Weight</th>
        </thead>
        @foreach (var item in ViewBag.userdetails)
        {
            <tr>
                <td>
                    @item.ID
                </td>
                <td>
                    @item.Element_Name
                </td>
                <td>
                    @item.Element_Abbreviation
                </td>
                <td>
                    @item.Atomic_Weight
                </td>
            </tr>
        }
    </table>
</div>

