

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LearningVideos</title>
</head>
<body>
    <div> 
        <iframe width="240" height="315" src="https://www.youtube.com/embed/4SbyQ9eVP7Q" frameborder="0" allowfullscreen></iframe>
        <iframe width="240" height="315" src="https://www.youtube.com/embed/Gj6weMW6Dfc" frameborder="0" allowfullscreen></iframe>
        <iframe width="240" height="315" src="https://www.youtube.com/embed/Sy-sMp8jdPk?list=PL6413EA90F33BFA45" frameborder="0" allowfullscreen></iframe>
        <iframe width="240" height="315" src="https://www.youtube.com/embed/ciVCBeqpiyw?list=PL6413EA90F33BFA45" frameborder="0" allowfullscreen></iframe>
        <iframe width="240" height="315" src="https://www.youtube.com/embed/AneNEWH32TY?list=PL6413EA90F33BFA45" frameborder="0" allowfullscreen></iframe>
        <iframe width="240" height="315" src="https://www.youtube.com/embed/8U33HKEZ6jk?list=PL6413EA90F33BFA45" frameborder="0" allowfullscreen></iframe>
        <iframe width="240" height="315" src="https://www.youtube.com/embed/CRNhJn4XIbk?list=PL6413EA90F33BFA45" frameborder="0" allowfullscreen></iframe>
        <iframe width="240" height="315" src="https://www.youtube.com/embed/STCrjxxRf-g?list=PL6413EA90F33BFA45" frameborder="0" allowfullscreen></iframe>
    </div>
</body>
</html>
