@using MADDPeriodicTable.Models
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="~/Content/LightsOnOff.css" />

<html>
<head>
    <link rel="stylesheet" href="http://www.giuseppegerbino.com/css/glyphs.css" type="text/css" media="screen" />
    <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/LightsOnOff.js" type="text/javascript"></script>
</head>
<body class="night">
    <h2>Turn <span class="span-night">Off</span><span class="span-day">On</span> the lights</h2>

    <button class="day-night" onclick="MyFunction">
        <span class="btn-night glyph-moon-fill"></span>
        <span class="btn-day glyph-sun-fill"></span>
    </button>
    <div> 
        <iframe id="player" width="240" height="315" src="https://www.youtube.com/embed/4SbyQ9eVP7Q" frameborder="0" allowfullscreen></iframe>
        <iframe id="player" width="240" height="315" src="https://www.youtube.com/embed/Gj6weMW6Dfc" frameborder="0" allowfullscreen></iframe>
        <iframe id="player" width="240" height="315" src="https://www.youtube.com/embed/Sy-sMp8jdPk?list=PL6413EA90F33BFA45" frameborder="0" allowfullscreen></iframe>
        <iframe id="player" width="240" height="315" src="https://www.youtube.com/embed/ciVCBeqpiyw?list=PL6413EA90F33BFA45" frameborder="0" allowfullscreen></iframe>
        <iframe id="player" width="240" height="315" src="https://www.youtube.com/embed/AneNEWH32TY?list=PL6413EA90F33BFA45" frameborder="0" allowfullscreen></iframe>
        <iframe id="player" width="240" height="315" src="https://www.youtube.com/embed/8U33HKEZ6jk?list=PL6413EA90F33BFA45" frameborder="0" allowfullscreen></iframe>
        <iframe id="player" width="240" height="315" src="https://www.youtube.com/embed/CRNhJn4XIbk?list=PL6413EA90F33BFA45" frameborder="0" allowfullscreen></iframe>
        <iframe id="player" width="240" height="315" src="https://www.youtube.com/embed/STCrjxxRf-g?list=PL6413EA90F33BFA45" frameborder="0" allowfullscreen></iframe>
    
        <script>
            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    events: { 'onStateChange': onPlayerStateChange }
                });
            }

            function onPlayerStateChange(event) {
                switch (event.data) {
                    //Video has been played
                    case 1:             
                        GetTriggered();
                    break;
                    }
            }

            function GetTriggered() {
                @if(true)
                {
                    String currUser = User.Identity.Name;
                    PeriodicTableEntities pte = new PeriodicTableEntities();
                    UserProgress up = pte.UserProgresses.Where(progress => progress.Id.Equals(currUser)).First();

                    //10 points for comic relief ftw :)
                    up.CurrentPoints += 10;
                    up.VideosWatched++;
                    if (up.SenpaiNoticeMeBadge == false)
                    {
                        up.SenpaiNoticeMeBadge = true;
                    }
                    int level = up.CurrentPoints / 100;
                    if (level == 0)
                    {
                        //If the user has less than 100 points, don't want to break things: )
                        level = 1;

                    }

                    up.CurrentLevel = level;
                    pte.SaveChanges();

                }
            }
        </script>
        <script src="https://www.youtube.com/iframe_api"></script>
    </div>
</body>
</html>
