
@{
    ViewBag.Title = "CheckAnswer";
    //Layout = "~/Views/Shared/_PeriodicTablePartial.cshtml";
}


<h2>@ViewBag.ResultMessage</h2>
<h2>@ViewBag.ChemistsExplosionBadge</h2>
<h2>@ViewBag.HotStreakBadge</h2>
<h2>@ViewBag.NoviceChemistBadge</h2>
<a href="Learn">Learn more?</a>
