
@{
    ViewBag.Title = "CheckAnswer";
    //Layout = "~/Views/Shared/_PeriodicTablePartial.cshtml";
}


<h2>@ViewBag.ResultMessage</h2>
<h2>@ViewBag.ChemistsExplosionBadge</h2>
<h2>@ViewBag.HotStreakBadge</h2>
<h2>@ViewBag.NoviceChemistBadge</h2>
<div>
    <img src=@ViewBag.image />
</div>
<a href="Learn" style="font-size:large">Learn more?</a>